<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boman.upms.dao.mapper.MealRollMapper">
  <sql id="mealRollColumns">
		a.id AS "id",
		u2.user_id AS "createBy.userId",
		u2.username AS "createBy.username",
		a.create_date AS "createDate",
		u4.user_id AS "updateBy.userId",
		u4.username AS "updateBy.username",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.face_value AS "faceValue",
		a.coop_Business AS "coopBusiness",
		a.start_date AS "startDate",
		a.end_date AS "endDate",
		a.receive AS "receive",
		u13.user_id AS "receiver.userId",
		u13.username AS "receiver.username",
		a.receive_date AS "receiveDate",
		a.special AS "special"
	</sql>

  <sql id="mealRollJoins">
		LEFT JOIN upms_user u2 ON u2.user_id = a.create_by
		LEFT JOIN upms_user u4 ON u4.user_id = a.update_by
		LEFT JOIN upms_user u13 ON u13.user_id = a.receiver
	</sql>

  <select id="get" resultType="com.boman.upms.dao.model.MealRoll">
    SELECT
    <include refid="mealRollColumns"/>
    FROM meal_roll a
    <include refid="mealRollJoins"/>
    WHERE a.id = #{id}
  </select>

  <select id="findList" resultType="com.boman.upms.dao.model.MealRoll">
    SELECT
    <include refid="mealRollColumns"/>
    FROM meal_roll a
    <include refid="mealRollJoins"/>
    <where>
      a.del_flag = #{DEL_FLAG_NORMAL}
      <if test="beginCreateDate != null and endCreateDate != null and beginCreateDate != '' and endCreateDate != ''">
        AND a.create_date BETWEEN #{beginCreateDate} AND #{endCreateDate}
      </if>
      <if test="remarks != null and remarks != ''">
        AND a.remarks LIKE
        <if test="dbName == 'oracle'">'%'||#{remarks}||'%'</if>
        <if test="dbName == 'mssql'">'%'+#{remarks}+'%'</if>
        <if test="dbName == 'mysql'">concat('%',#{remarks},'%')</if>
      </if>
      <if test="faceValue != null and faceValue != ''">
        AND a.face_value = #{faceValue}
      </if>
      <if test="startDate != null and startDate != ''">
        AND a.start_date = #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        AND a.end_date = #{endDate}
      </if>
      <if test="beginReceiveDate != null and endReceiveDate != null and beginReceiveDate != '' and endReceiveDate != ''">
        AND a.receive_date BETWEEN #{beginReceiveDate} AND #{endReceiveDate}
      </if>
      <if test="receive != null and receive != ''">
        AND a.receive = #{receive}
      </if>
    </where>
    <choose>
      <when test="page !=null and page.orderBy != null and page.orderBy != ''">
        ORDER BY ${page.orderBy}
      </when>
      <otherwise>
        ORDER BY a.update_date DESC
      </otherwise>
    </choose>
  </select>

  <select id="findAllList" resultType="com.boman.upms.dao.model.MealRoll">
    SELECT
    <include refid="mealRollColumns"/>
    FROM meal_roll a
    <include refid="mealRollJoins"/>
    <where>
      a.del_flag = #{DEL_FLAG_NORMAL}
    </where>
    <choose>
      <when test="page !=null and page.orderBy != null and page.orderBy != ''">
        ORDER BY ${page.orderBy}
      </when>
      <otherwise>
        ORDER BY a.update_date DESC
      </otherwise>
    </choose>
  </select>

  <update id="update">
		UPDATE meal_roll SET
			update_by = #{updateBy.userId},
			update_date = #{updateDate},
			remarks = #{remarks},
			face_value = #{faceValue},
			coop_business = #{coopBusiness},
			start_date = #{startDate},
			end_date = #{endDate},
			receive_date = #{receiveDate},
			receive = #{receive},
			receiver = #{receiver.userId}
		WHERE id = #{id}
	</update>

  <update id="delete">
		UPDATE meal_roll SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.boman.upms.dao.model.MealRoll">
        SELECT
        <include refid="mealRollColumns"/>
        FROM meal_roll a
        <include refid="mealRollJoins"/>
        WHERE a.id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 11 17:10:00 CST 2019.
    -->
    delete from meal_roll
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boman.upms.dao.model.MealRoll">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 11 17:10:00 CST 2019.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO meal_roll(
          create_by,
          create_date,
          update_by,
          update_date,
          remarks,
          del_flag,
          face_value,
          coop_business,
          start_date,
          end_date,
          receive_date,
          receive,
          receiver
          ) VALUES (
          #{createBy.userId},
          #{createDate},
          #{updateBy.userId},
          #{updateDate},
          #{remarks},
          #{delFlag},
          #{faceValue},
          #{coopBusiness},
          #{startDate},
          #{endDate},
          #{receiveDate},
          #{receive},
          #{receiver.userId}
          )

  </insert>
  <insert id="insertSelective" parameterType="com.boman.upms.dao.model.MealRoll">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 11 17:10:00 CST 2019.
    -->
    insert into meal_roll
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="faceValue != null">
        face_value,
      </if>
      <if test="coopBusiness != null">
        coop_business,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="faceValue != null">
        #{faceValue,jdbcType=VARCHAR},
      </if>
      <if test="coopBusiness != null">
        #{coopBusiness,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boman.upms.dao.model.MealRoll">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 11 17:10:00 CST 2019.
    -->
    update meal_roll
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="faceValue != null">
        face_value = #{faceValue,jdbcType=VARCHAR},
      </if>
      <if test="coopBusiness != null">
        coop_business = #{coopBusiness,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boman.upms.dao.model.MealRoll">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 11 17:10:00 CST 2019.
    -->
    UPDATE meal_roll SET
    update_by = #{updateBy.userId},
    update_date = #{updateDate},
    remarks = #{remarks},
    face_value = #{faceValue},
    coop_business = #{coopBusiness},
    start_date = #{startDate},
    end_date = #{endDate},
    receive_date = #{receiveDate},
    receive = #{receive},
    receiver = #{receiver.userId}
    WHERE id = #{id}
  </update>

  <select id="selectByMealRollForOffsetPage" parameterType="com.boman.upms.dao.model.MealRoll" resultType="com.boman.upms.dao.model.MealRoll">
    select
    <include refid="mealRollColumns"/>
    from meal_roll a
    <include refid="mealRollJoins"/>

    <if test="faceValue != null and faceValue != '' ">
      where a.face_value like concat('%', #{faceValue}, '%')
    </if>
    <if test="order != null and sort != null">
      ORDER BY #{sort} #{order}
    </if>
    <if test="order == null and sort == null">
      ORDER BY a.update_date desc,id desc
    </if>
  </select>

  <select id="countByMealRoll" parameterType="com.boman.upms.dao.model.MealRoll" resultType="java.lang.Long">
    select count(*) from meal_roll
    <if test="faceValue != null and faceValue != '' ">
      where face_value like concat('%', #{faceValue}, '%')
    </if>
  </select>
</mapper>