<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boman.upms.dao.mapper.MessageStateMapper">
	<resultMap id="BaseResultMap" type="com.boman.upms.dao.model.MessageText">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="message" jdbcType="VARCHAR" property="message" />
		<result column="tittle" jdbcType="VARCHAR" property="tittle" />
		<result column="send_id" jdbcType="INTEGER" property="sendId" />
		<result column="send_name" jdbcType="VARCHAR" property="sendName" />
		<result column="group_ids" jdbcType="VARCHAR" property="groupIds" />
		<result column="rect_name" jdbcType="VARCHAR" property="rectName" />
		<result column="rect_id" jdbcType="INTEGER" property="rectId" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="url_type" jdbcType="VARCHAR" property="urlType" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
	</resultMap>
	
	<insert id="insertMessage" parameterType="com.boman.upms.dao.model.MessageText">
    	insert into message_state (message_id,rect_name) values
    	(#{messageId,jdbcType=INTEGER}, #{rectName,jdbcType=VARCHAR})
	</insert>
	
</mapper>